@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.badge-small {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  right: -3px;
  bottom: 23px;
  position: absolute;
}
